### /etc/systemd/system/piradio.service
[Unit]
Description=piradio
Wants=network.target
After=network.target

[Service]
WorkingDirectory=/home/pi/piradio
Type=simple
ExecStart=/usr/bin/python /home/pi/piradio/main.py
KillSignal=SIGINT
User=pi
Group=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
